body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100%;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: 25% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav-element content-element"
    "nav-element foot-element";
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav-element "
      "content-element"
      "foot-element";
  }
}

#navbar {
  background-color: rgba(30, 144, 255, 0.35);
  grid-area: nav-element;
  padding-left: 8px;
}

main {
  grid-area: content-element;
}
footer {
  grid-area: foot-element;
}

header {
  font-weight: bold;
  font-size: 1.5 em;
  padding: 5px;
  margin: 10px;
}

a {
  color: blueviolet;
  padding: 3px;
  font-size: 4 em;
  margin-bottom: 3px solid black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  padding: 10px;
  margin: 10px;
}

h1 {
  padding: 10px;
  margin: 10px;
}
code {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 2px;

}
